<div class="container-fluid">
  <div class="row">
    <div class="col-4" style="background-color: yellow">
      @for (player of playerService.players(); track player.id) {
      <div class="list-group-item-heading player-item" routerLink="{{player.description}}" >
        {{ player.description }}
      </div>
      }
    </div>
    <div class="col-8" style="background-color: bisque">
      <router-outlet></router-outlet>player-list works! (p-list works 2) test2
      <app-player-detail></app-player-detail>
    </div>
  </div>
</div>
