<div class="container-fluid testThis">
  thisThis testThis works! top
  <div class="col-12" style="background-color: aqua">
    <app-testT-start></app-testT-start>

    <app-testT-list>
      <!-- <div class="row">
        <div class="col-4" style="background-color: yellow">
          <app-testT-item></app-testT-item>
        </div>
        <div class="col-8" style="background-color: bisque">
          <app-testT-detail></app-testT-detail>
        </div>
      </div> -->
    </app-testT-list>
  </div>
</div>
